* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.App {
    background-color: black;
    padding-top: 85px;
    min-height: 100vh;
}
